h1{
color:blueviolet;
margin-left: 20px;
}

.header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(224, 96, 22);
}
.grid{
display:flex;
justify-content: space-evenly;
flex-wrap: wrap;
background-color: cyan;
}
.discription{
    background-color: rgb(223, 161, 86);
}
h2,p{
    text-align: center;
}


.menu a{
    margin-right: 20px ;

}
a{
    margin-top: 50px;
}
.menu {
    padding-top: 30px;
}
a:link{
    color:burlywood;
}
a:visited{
    color:rgb(30, 210, 54)
}
.item{
    position:relative;

}
.item p{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
opacity:0;

}
.item:hover p{
    opacity:1;
    font-size: 30px;
    font-weight: bold;
}
.item:hover img{
    opacity:0.4;
}